@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "NetflixSans";
}

a {
  color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.screan {
  background-color: antiquewhite;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 13.65%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/img/Desctop/fons_1.png"), lightgray 50%/cover no-repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.screan__input {
  border-radius: 22.031px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(22.0310497284px);
          backdrop-filter: blur(22.0310497284px);
}
.screan__input a {
  flex-shrink: 0;
  opacity: 0.7;
}
.srean__title {
  color: #FFF;
  font-family: Helvetica;
  font-size: 99.14px;
  font-weight: 700;
  max-width: 50%;
  padding: 172px;
}

.header {
  padding: 33.046px 64.716px 32.993px 64.716px;
  width: 100%;
  background: rgba(255, 255, 255, 0.02);
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: Helvetica;
  font-size: 44.062px;
  font-weight: 700;
  color: #FFF;
}
.header____menu {
  display: flex;
  align-items: center;
  gap: 33.047px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33.047px;
}
.menu__link {
  padding: 11.016px;
  border-bottom: 1.377px solid #FFF;
}
.menu__link a {
  font-family: "Helvetica";
  font-size: 22.031px;
  opacity: 0.7;
  font-weight: 400;
}
.input {
  display: flex;
  padding: 28px 0;
  justify-content: center;
  align-items: center;
  gap: 44.062px;
  margin: 0 165px 0 165px;
  overflow: hidden;
  padding: 11.016px 22.031px;
}
.input__hotels, .input__start, .input__out, .input__room {
  display: flex;
  padding: 16.523px 11.016px;
  align-items: center;
  width: 20%;
  gap: 11.016px;
}
.input__hotels input, .input__start input, .input__out input, .input__room input {
  display: flex;
  padding: 16.523px 11.016px;
  align-items: center;
  font-family: "Helvetica";
  font-size: 22.031px;
  background: none;
}
.input__hotels input::-moz-placeholder, .input__start input::-moz-placeholder, .input__out input::-moz-placeholder, .input__room input::-moz-placeholder {
  color: #FFF;
  opacity: 0.7;
}
.input__hotels input::placeholder, .input__start input::placeholder, .input__out input::placeholder, .input__room input::placeholder {
  color: #FFF;
  opacity: 0.7;
}
.input__hotels {
  width: 40%;
}
.input__hotels input {
  width: 100%;
}
.input__submit {
  width: 20%;
  border-radius: 44.062px;
  background: #FFF;
  display: flex;
  padding: 16.523px 44.062px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.input__submit::-moz-placeholder {
  color: #2659C3;
  font-family: "Helvetica";
  font-size: 22.031px;
  font-weight: 700;
}
.input__submit::placeholder {
  color: #2659C3;
  font-family: "Helvetica";
  font-size: 22.031px;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */