@import './nullstyle.scss';


body {
    font-family: 'NetflixSans';
}

a {
    color: white;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.screan {
    background-color: antiquewhite;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 13.65%), linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('/img/Desctop/fons_1.png'), lightgray 50% / cover no-repeat;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__header {}

    &__input {
        border-radius: 22.031px;
        background: rgba(255, 255, 255, 0.40);
        backdrop-filter: blur(22.031049728393555px);

        & a {
            flex-shrink: 0;
            opacity: 0.7;
        }
    }

    &_categories {}
}

.srean__title {
    color: #FFF;
    font-family: Helvetica;
    font-size: 99.14px;
    font-weight: 700;
    max-width: 50%;
    padding: 172px;
}


.header {
    padding: 33.046px 64.716px 32.993px 64.716px;
    // position: fixed;
    width: 100%;

    background: rgba(255, 255, 255, 0.02);

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: Helvetica;
        font-size: 44.062px;
        font-weight: 700;
        color: #FFF;
    }

    &____menu {
        display: flex;
        align-items: center;
        gap: 33.047px;
    }
}

.menu {
    &__row {}

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 33.047px;
    }

    &__link {
        padding: 11.016px;
        border-bottom: 1.377px solid #FFF;

        & a {
            font-family: "Helvetica";
            font-size: 22.031px;
            opacity: 0.7;
            font-weight: 400;
        }
    }

    &__burger {}
}


.input {
    display: flex;
    padding: 28px 0;
    justify-content: center;
    align-items: center;
    gap: 44.062px;
    margin: 0 165px 0 165px;
    overflow: hidden;
    padding: 11.016px 22.031px;


    &__hotels,
    &__start,
    &__out,
    &__room {
        display: flex;
        padding: 16.523px 11.016px;
        align-items: center;
        width: 20%;
        gap: 11.016px;

        & input {
            display: flex;
            padding: 16.523px 11.016px;
            align-items: center;
            // gap: 11.016px;

            font-family: "Helvetica";
            font-size: 22.031px;
            background: none;

            &::placeholder {
                color: #FFF;
                opacity: 0.7;
            }
        }
    }

    &__hotels {
        width: 40%;

        & input {
            width: 100%;
        }
    }

    &__submit {
        width: 20%;
        border-radius: 44.062px;
        background: #FFF;
        display: flex;
        padding: 16.523px 44.062px;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;

        &::placeholder {
            color: #2659C3;
            font-family: "Helvetica";
            font-size: 22.031px;
            font-weight: 700;
        }
    }
}







.categories {}

.categories_list {}

.list_icon {}

.list_title {}